*.jl.*.cov
*.jl.cov
*.jl.mem
*~
*.aux
*.log
*.out
*.bbl
/pap/*.pdf
/plots/*.png
/pap/*.tex
/pap/*.blg
*.svg
/.CondaPkg/env/lib/python3.11/site-packages/bokeh/server/static/js/types/models/plots/plot_canvas.d.ts
pap/*.tex
*.tex
